
/*Body style*/

body {
  margin: 0 auto;
  font-family: Helvetica;
  /*font-size: 22px;*/
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  overflow: scroll;
}


 header {
  display: flex;
  border-bottom: 1px solid seashell;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 0px;
  font-family: "Edwardian Script ITC";
  font-size: 45px;
}


header nav {
  display: inline-block;
  color: white;
  text-align: right ;
  margin-left: 1000px;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
/*  margin-right: 300px;*/
}

a {
  color: white;
  margin-left: 20px;
}


/* Content*/


.content {
  display: flex;
  position: relative;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 35px;
}


  span h2{
  background-color: black;
  position: absolute;
  padding: 25px;
  top: 350px;
  left: 50px;
  right: 50px;
}

span h4{
background-color: black;
position: absolute;
padding: 25px;
top: 400px;
left: 50px;
right: 50px;
}




/*MISSION STATEMENT*/


/*.firstbackground  {
  text-align: center;
  height: 500px;
  padding: 10px;
} */


/*SECTION II WITH TREE COLUMNS*/

.col {
  display: inline-flex;
  justify-content: center;
  margin: 0px;
}


 .image {
display: inline-block;
width: 300px;
height: 200px;
margin-left: 5px;
margin-right: 5px;
/*margin-bottom: 30px;*/
padding: 0;
}



.location {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  padding: 200px;
  justify-content: space-around;
}


.area {
  background-color: black;
  display: inline-block;
  border: 1px solid black;
  height: 200px;
  width: 300px;
}
